<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>lily</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="d-flex flex-column justify-content-center align-items-center" id="dashboard" style="background-color: #e81b46;">
        <div id="element" style="background-color: #eeeeee;">
            <div class="container">
                <div class="row">
                    <div class="col" style="background-color: #e81b46;"><button class="btn btn-primary text-truncate border rounded shadow" id="button-view" type="button" style="color: rgb(232,27,70);background-color: rgb(245,247,249);font-weight: bold;font-family: Montserrat, sans-serif;">View Videos</button></div>
                    <div
                        class="col" style="background-color: #e81b46;"><button class="btn btn-primary text-truncate border rounded shadow" id="button-view" type="button" style="color: rgb(232,27,70);background-color: rgb(245,247,249);font-weight: bold;font-family: Montserrat, sans-serif;">Upload Videos</button></div>
            </div>
        </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="assets/js/youtube.js"></script>
</body>

</html>