doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title lily
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Abril+Fatface')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700i')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
  link(rel='stylesheet' href='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css')
  link(rel='stylesheet' href='assets/css/Login-Form-Clean.css')
  link(rel='stylesheet' href='assets/css/Navigation-Clean.css')
  link(rel='stylesheet' href='assets/css/Registration-Form-with-Photo.css')
  link(rel='stylesheet' href='assets/css/styles.css')
section#dashboard.d-flex.flex-column.justify-content-center.align-items-center(style='background-color: #e81b46;')
  h5.border.rounded(style='color: rgb(232,27,70);background-color: #ded8d8;padding: 8px;') oops.. page not found
  #element-error(style='background-color: #eeeeee;')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
script(src='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js')
script(src='/js/youtube.js')
