doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title lily
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Abril+Fatface')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700i')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
  link(rel='stylesheet' href='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css')
  link(rel='stylesheet' href='/css/Login-Form-Clean.css')
  link(rel='stylesheet' href='/css/Navigation-Clean.css')
  link(rel='stylesheet' href='/css/Registration-Form-with-Photo.css')
  link(rel='stylesheet' href='/css/styles.css')
.login-clean
  form.form--login
    h2.sr-only Login Form
    .illustration
      i.icon.ion-ios-navigate
    .form-group
      input.form-control#email(type='email' name='email' placeholder='Email')
    .form-group
      input.form-control#password(type='password' name='password' placeholder='Password')
    .form-group
      button.btn.btn-primary.btn-block(type='submit') Log In
    a.forgot(href='#') Forgot your email or password?
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
script(src='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js')
script(src='/js/bundle.js')
