doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title lily
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Abril+Fatface')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700i')
  link(rel='stylesheet' href='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css')
  link(rel='stylesheet' href='/css/styles.min.css')
#Upload.d-flex.flex-column.justify-content-center.align-items-center.upload-main
  form.form--upload.border.rounded(style='width: 370px;background-color: rgba(222,206,206,0.94);padding-top: 11px;font-size: 16px;font-family: Montserrat, sans-serif;')
    .container.clearfix
      .form-group.row
        label.col-sm-4(for='link-upload' style='width: 122px;padding-top: 4px;') Add A Link
        .col-sm-8
          input.form-control#url(type='text' placeholder='https://youtu.be/videoId' inputmode='url' required='' autofocus='')
      .form-group.row
        label.col-sm-4(for='link-upload' style='width: 135px;padding-top: 4px;font-size: 15px;') Time (in secs)
        .col-sm-8
          input.form-control#watchtime(type='text' placeholder='Time to Watch (in sec) ' inputmode='numeric' required='')
      .form-group.row
        label.col-sm-4(for='link-upload' style='width: 135px;padding-top: 4px;font-size: 15px;') Views
        .col-sm-8
          input.form-control#number(type='text' placeholder='No. of Views ' inputmode='numeric' required='')
      .form-group
        button.btn.btn-info.btn-block.btn-outline-primary-new#uploadurl(type='submit' style='margin-bottom: 11px;') Submit
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
script(src='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js')
script(src='/js/bundle.js')
