footer#footerpad(style='background-image: url("none");height: 208px;')
  .container
    .row
      .col-md-6.col-lg-8.mx-auto
        ul.list-inline.text-center
          //- li.list-inline-item
          //-   a(href='#')
          //-     span.fa-stack.fa-lg
          //-       i.fa.fa-circle.fa-stack-2x
          //-       i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='https://twitter.com/lilyview1')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
          //- li.list-inline-item
          //-   a(href='#')
          //-     span.fa-stack.fa-lg
          //-       i.fa.fa-circle.fa-stack-2x
          //-       i.fa.fa-instagram.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='https://bit.ly/2TEMzdG')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-youtube.fa-stack-1x.fa-inverse
        p.copyright.text-muted.text-center Copyright &copy; LilyView 2020 | Design by M-Nox with &#10084