.container-fluid(style='background-color: rgb(85,49,89);filter: blur(0px) grayscale(0%) hue-rotate(0deg) invert(0%) sepia(0%);')
  .row
    .col-10.col-lg-5
      h1.text-left(style='color: rgb(246,248,249);font-family: Raleway, sans-serif;font-size: 49px;margin-top: 10px;opacity: 1;') LilyView
    #navcol-2.col-lg-7.d-lg-flex.flex-row.justify-content-end.justify-content-lg-end.collapse.navbar-collapse

      img.rounded-circle.mr-auto.visible(style='margin-right: 15px;width: 70px;height: 85px;background-color: #888888;' src='/img/FAVICON.png')
      if user

        h2#points.border.rounded.border-light(style='margin-right: 20px;padding: 5px;') #{user.points}
        a.btn.text-info.border.rounded.shadow-sm.logout-btn#logout(type='button' href='/logout' style='margin-right: 10px;margin-top: 17px;height: 50px;') LogOut
      if !user
        a.btn.text-white.border.rounded.shadow-sm.signup-btn(type='button' href='/signup' style='margin-right: 10px;height: 50px;margin-top: 17px;') Sign Up
        a.btn.text-white.border.rounded.shadow-sm.login-btn(type='button' href='/login' style='margin-right: 10px;margin-top: 17px;height: 50px;') Login
    .col-2
      button.navbar-toggler.hept(data-toggle='collapse' data-target='#navcol-2' style='background-color: #b79d9d;margin-top: 10px;')
        .mm-container(onclick='myFunction(this)')
          .mm-bar1
          .mm-bar2
          .mm-bar3
