extends base
block content
    section.d-flex.flex-column.justify-content-center(style='background-image: linear-gradient(to right, rgb(85,72,170), rgb(85,30,22));background-color: rgba(50,55,58,0.61);height: 418px;')
        .container.d-flex.flex-column.justify-content-center(style='/*background-color: #c62929;*/')
            .row
                .col-md-6.d-inline-flex.justify-content-center(style='margin-top: 5px;margin-bottom: 5px;')
                    a.btn.btn-outline-light.btn-block.shadow-lg#button-view(href = '/view-videos' type='button' style='width: 264px;') View Videos
                .col-md-6.d-inline-flex.d-lg-flex.justify-content-center.justify-content-lg-center(style='margin-top: 5px;margin-bottom: 5px;')
                    a.btn.btn-outline-light.btn-block.shadow-lg#button-upload(href='/upload-video' type='button' style='width: 264px;') Upload videos
