extends base
block content
    section.d-flex.flex-column.justify-content-center.align-items-center#dashboard(style='background-color: #e81b46;')
        h5.border.round(style='color: rgb(232,27,70);background-color: #ded8d8;padding: 8px;') #{msg}
        #element-error(style='background-color: #eeeeee;')
  
