extends base
block content
    section.d-flex.align-items-center(style='background-image: linear-gradient(to right, rgb(85,72,170), rgb(85,30,22));background-color: rgba(50,55,58,0.61);height: 900px;')
        .container(style='/*background-color: #c62929;*/')
            .row(style='margin: 7px;')
                .col-sm-7(style='margin-top: 5px;margin-bottom: 5px;')
                    div
                        h5(style='color: rgb(187,198,210);font-size: 24px;font-family: Montserrat, sans-serif;') Collaboration
                        p(style='color: rgb(201,208,215);')
                        br
                        | This website is completely dedicated to collaborate for various new Users who want to share their videos with others.
                        br
                        br
                    div
                        h5(style='color: rgb(187,198,210);font-size: 24px;font-family: Montserrat, sans-serif;') Connection
                        p(style='color: rgb(201,208,215);')
                        br
                        | Establish relationship with the co-users. Help them to grow as well.
                        br
                        br
                    div
                        h5(style='color: rgb(187,198,210);font-size: 24px;font-family: Montserrat, sans-serif;') Easy To Use&nbsp;
                        p(style='color: rgb(201,208,215);')
                        br
                        | No Complication, Easy To Use. Just Upload Video and Sit Back while collecting Views from Real Users.
                .col(style='margin-top: 5px;margin-bottom: 5px;')
                    img(src='/img/man-standing-beside-white-painted-wall-2372977.jpg' width='200' height='220' style='height: 372px;width: 298px;filter: blur(0px) grayscale(52%) hue-rotate(28deg) saturate(59%);opacity: 0.62;')
