extends base
block content
    section.d-flex.flex-row(style='background-image: linear-gradient(to right, rgb(85,72,170), rgb(85,30,22));background-color: rgba(50,55,58,0.61);')
        .container.align-self-center(style='/*background-color: #c62929;*/')
            .row(style='margin-bottom: 25px;')
                .col.text-center
                    .dropdown
                        button.btn.btn-light.dropdown-toggle(data-toggle='dropdown' aria-expanded='false' type='button') category
                        .dropdown-menu(role='menu')
                            a.dropdown-item(role='presentation' data-category = 'Education' ) Education
                            a.dropdown-item(role='presentation' data-category = 'News' ) News
                            a.dropdown-item(role='presentation' data-category ='Music') Music
            .row
                .col-md-6.col-lg-5.d-inline-flex.flex-column.justify-content-between(style='margin-top: 5px;margin-bottom: 5px;')
                    .d-flex
                        #player
                    #video-control.d-flex.flex-row.justify-content-between(style='margin-top: 10px;margin-bottom: 5px;')
                        a.text-white(href='#' role='button' style='width: 60px;font-family: Montserrat, sans-serif;font-size: 35px;') &#8249
                        span.badge.badge-pill.badge-dark.text-monospace.text-center#counter(style='width: 83px;font-size: 18px;padding-top: 15px;padding-right: 0px;padding-left: 0px;') 42/60
                        a.text-white#next-video(role='button' style='width: 60px;font-family: Montserrat, sans-serif;font-size: 35px;') &#8250
                //- .col-md-6.col-lg-4.d-inline-flex.d-lg-flex.flex-column.justify-content-between(style='margin-top: 5px;margin-bottom: 5px;')
                    //- div
                    //-     label#ques-1(style='font-size: 16px;font-weight: normal;font-family: Montserrat, sans-serif;') Q 1. what is motto?
                    //-     .custom-control.custom-radio(style='font-family: ABeeZee, sans-serif;' for='ques-1')
                    //-         input#formCheck-1.custom-control-input(type='radio' name='ques-1' value='0')
                    //-         label.custom-control-label(for='formCheck-1') doctor
                    //-     .custom-control.custom-radio(for='ques-1')
                    //-         input#formCheck-2.custom-control-input(type='radio' name='ques-1' value='1')
                    //-         label.custom-control-label(for='formCheck-2' style='font-family: ABeeZee, sans-serif;') engineer
                    //- #question-control.d-flex.justify-content-between.justify-content-lg-center(style='margin-top: 10px;margin-bottom: 5px;')
                    //-     a.text-white(href='#' role='button' style='width: 60px;font-family: Montserrat, sans-serif;font-size: 35px;') &amp;#8249
                    //-     a.text-white(href='#' role='button' style='width: 60px;font-family: Montserrat, sans-serif;font-size: 35px;') &amp;#8250
                .col.d-inline-flex.flex-column.justify-content-start
                    button.btn.btn-outline-light.btn-block.shadow-lg#claim(type='button') claim   